.form-select {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 270px !important;
  height: 50px;
  background-color: #fcfcff !important;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}
.inputWithIcon .form-select {
  padding-left: 75px;
}

.inputWithIcon .enmaz-user-svg-logo {
  position: absolute;
  left: 12px;
  top: 20%;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon .enmaz-lineVertical-svg-logo {
  position: absolute;
  left: 62px;
  top: 16%;
  color: #aaa;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .inputWithIcon {
    width: 100% !important;
  }
}
