#schedule-global {
  margin-left: 19%;
  padding-top: 15px;
  width:75%;
}

.schedule-global-header h1 {
  font-weight: 500;
  font-size: 2.2rem;
}
.schedule-global-header h3 {
  /* position: relative; */
  /* left: 85px; */
  font-weight: 500;
}
@media (max-width: 926px) {
  #schedule-global {
    margin-left: 25%;
  }
}
